<h1> Add a new Landmark here </h1> 

<form method="POST" action="/landmarks">
  <label> Landmark Name:</label><br>
   <input type="text" id="landmark_name" name="landmark[name]">
  <label> Landmark Year Completed:</label>
   <input type="text" id="landmark_year_completed" name="landmark[year_completed]">
   <input type="submit" value="Create New Landmark">
</form>