<h1> On this page you can edit your figure </h1>

<form method="post" action='/figures/<%= @figure.id %>'/edit>
  <input type="hidden" name="_method" value="patch">
   <label> Here is the current name that you can also edit:</label>
     <input type="text" value="<%= @figure.name %>" name="figure[name]" id="figure_name">
       <br>
   <label>Typing into this box will edit the landmark:</label>
    <% Landmark.all.each do |landmark| %>
     <label><%= landmark.name %></label>
      <input type="checkbox" name="figure[landmark_ids][]" value="<%landmark.id%>" id="new_landmark">
        <%end%>
       <br>
   <label> Typing into this box will edit the current title:</label><br>
     <input type="text" name="figure[title_ids]">
     <input type="submit" value="Edit Figure">

</form>
